---
const { title, description = 'Cybersecurity Training by CyberTeckMaster', canonicalUrl = 'https://cyberteckmaster.com' } = Astro.props;
---
<title>{title}</title>
<meta name="description" content={description}>
<link rel="canonical" href={canonicalUrl}>